.calendar-header{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.calendar-header .nav-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
    justify-content: center;
}

.calendar-header button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.calendar-header button:not(.add-event-button-header):hover{
    background-color: var(--gray-hover);
}

.add-event-button-header {
    position: absolute;
    left: 30px;
    width: 32px;
    height: 32px;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: var(--border-radius);
}

.add-event-button-header:hover {
    background-color: var(--primary-hover);
}
.calendar-weekday-header{
    margin: 0 auto
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background-color: var(--gray-light);
  margin: 20px 0;
}

.calendar-day {
    background-color: var(--white);
    padding: var(--spacing-md);
    border: 1px solid var(--gray-light);
    border-radius: var(--border-radius);
    height: 135px;
    overflow-x: hidden;
}

 .calendar-day-number{
    display: flex;
    justify-content: center;
 }

 .calendar-day-number.today-number {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: var(--primary-color);
      color: var(--white);
      align-items: center;
      font-weight: bold;
      margin: 0 auto;
  }


.calendar-events {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 100px;
    overflow-y: auto;
}

.calendar-event {
    display: flex;
    gap: 4px;
    background-color: var(--primary-color);
    color: var(--black );
    padding: 2px 4px;
    border-radius: var(--border-radius);
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar-event:hover {
    opacity: 0.8;
    cursor: pointer;
}

.event-time {
    font-weight: bold;
    opacity: 0.8;
    margin-right: 4px;
    font-size: 0.65rem;
}

.more-events {
      font-size: 0.7rem;
      color: var(--primary-color);
      font-weight: bold;
      padding: 2px 4px;
      text-align: center;
      cursor: pointer;
}

  .more-events:hover {
      background-color: var(--gray-light);
      border-radius: 2px;
}
